<style>
@font-face {
  font-family: &#39;ResearcherBold&#39;;
  src: url(&#39;https://raw.githubusercontent.com/ethanabraham/ethanabraham/main/researcher-researcher-bold-700.otf&#39;) format(&#39;opentype&#39;);
  font-weight: bold;
}

body {
  font-family: &#39;ResearcherBold&#39;, sans-serif;
}
</style>
